html{
  background-color: #282c34;
}
body{
  background-color: transparent;
}
div{
  /* background-color: rgba(1,0,0,0.01); */
  color: rgb(245,245,245);
}

.App{
  margin-top: 2rem;
}
.card{
  height: 15em !important;
  background-color: #1e2229;
  border-radius: 2%;
}
.card-lg{
  background-color: #1e2229;
  /* background-color: #191e24; */
  border-radius: 2%;
}
.card-img-top{
  object-fit: contain;
  height: 7em;
}
.card-img-top-lg{
  /* object-fit: cover; */
  object-fit: scale-down;
  height: 300px;
  margin: 0px;

}
.bg-pokemon-red{
  background-color: #ff0000;
}