html{
  background-color: #282c34;
}
body{
  background-color: transparent;
}
div{
  /* background-color: rgba(1,0,0,0.01); */
  color: rgb(245,245,245);
}

.App{
  margin-top: 2rem;
}
.card{
  height: 15em !important;
  background-color: #1e2229;
  border-radius: 2%;
}
.card-img-top{
  object-fit: contain;
  height: 10em;
}